/* Global */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header logo */

.heading__img {
  padding-top: 22px;
  padding-bottom: 23px;
}

.heading__menu {
  display: block;
  float: right;
  padding-top: 42px;
}

.heading__menu li {
  display: block;
  float: left;
  padding-left: 51px;
}

.heading__menu a {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #868686;
  text-transform: uppercase;
}

.heading__menu .heading__menu__button {
  width: 81px;
  padding: 11px 21px;
  background: #ffbb42;
  color: #fff;
}

/* Section 2 Banner_performance */

.banner {
  background-color: #709dca;
}

.bannerheader {
  padding-top: 110px;
  padding-bottom: 33px;
  text-align: center;
  color: #ffffff;
}
.bannerheader__tagline {
  font-family: "Gotham - Black";
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -0.88px;
  text-transform: uppercase;
}

.bannerheader__text {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
}

.bannerform {
  padding-left: 41px;
  padding-bottom: 347px;
}

input[type="text"],
input[type="tel"] {
  width: 281px;
  height: 46px;
  border: none;
  margin-top: 33px;
  padding-left: 41px;
  margin-right: 5px;
}

input[type="tel"]::placeholder {
  color: #a9a9a9;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
}

input[type="text"]::placeholder {
  color: #a9a9a9;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
}

input[type="button"] {
  width: 211px;
  height: 46px;
  background: #ffbb42;
  border: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.input_icon,
.input_icon1 {
  display: inline-block;
  position: relative;
}

.input_icon i {
  position: absolute;
  top: 47px;
  left: 15px;
  size: 16px;
  color: #6e6e6e;
}

.input_icon1 i {
  position: absolute;
  top: 47px;
  left: 15px;
  size: 16px;
  color: #6e6e6e;
  transform: rotate(90deg);
}

/* Laptop_banner*/
.laptop {
  position: relative;
}

.laptop__img {
  position: absolute;
  top: -280px;
  left: 264px;
}

.laptop::before {
  content: "\f104";
  font-family: "FontAwesome";
  font-size: 25px;
  position: absolute;
  color: #fff;
  left: 301px;
  top: -146px;
}

.laptop::after {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 301px;
  top: -146px;
}

.checkbox {
  width: 56px;
  height: 19px;
  position: absolute;
  left: 562px;
  top: 85px;
}

.ring {
  float: left;
  width: 12px;
  height: 11px;
  border: 2px solid #dedfe0;
  border-radius: 50%;
}

.ring:first-of-type {
  border-color: #1ca8dd;
}

.ring:nth-child(2) {
  margin-left: 10px;
}

.ring:last-of-type {
  float: right;
}

/* Section 3. Services */

/* Services__logo */
.services {
  margin-top: 203px;
}

.servicesWrap {
  margin-bottom: 76px;
}
.serviceslogo {
  color: #394b50;
  margin-bottom: 98px;
  text-align: center;
}

.serviceslogo__header {
  font-family: "Gotham Black";
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}

.serviceslogo__text {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

/*Services Item */

.servicesItem {
  float: left;
}

.servicesItem:nth-child(even) {
  margin-left: 108px;
}

.servicesItem:nth-child(4) {
  margin-left: 92px;
}

.servicesItem:nth-child(6) {
  margin-left: 120px;
}

.servicesItem__img {
  float: left;
}

.servicesItem__title {
  color: #394b50;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 21px;
  margin-left: 39px;
  padding-left: 39px;
  text-transform: uppercase;
}

.servicesItem__text {
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 79px;
  margin-left: 39px;
  padding-left: 39px;
}

/* Section 4. About Us */

.aboutUs {
  background-color: #ffc155;
  min-height: 623px;
}

.aboutUsinform {
  position: relative;
}

.aboutUsinform__img {
  position: absolute;
  left: -265px;
}

.aboutUstext {
  color: #fff;
  float: right;
  margin-top: 164px;
}

.aboutUstext__header {
  font-family: "Gotham Black";
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 28px;
  text-transform: uppercase;
}

.aboutUstext__text {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
  padding-bottom: 47px;
}

.aboutUstext__button {
  width: 145px;
  font-weight: 400;
  border: 1px solid #e7ad48;
  background-color: #ffc155;
  color: #fff;
  font-weight: 400;
  font-family: "Lato";
  font-size: 14px;
  padding: 17px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Section 5. Price */

.prices {
  background: #e7edf3;
}

.price {
  margin-top: 137px;
}

.price__header {
  color: #394b50;
  font-family: "Gotham Black";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.price__text {
  color: #75888d;
  font: lighter;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  text-align: center;
}

/* Prices */

.pricePlansinform {
  padding-top: 79px;
  padding-bottom: 196px;
}

.pricePlans {
  width: 390px;
  background: #fff;
  text-align: center;
  padding-bottom: 49px;
  float: left;
}

.pricePlans__title {
  text-transform: uppercase;
  padding-top: 56px;
  font: lighter;
  font-size: 25px;
  color: #818b95;
  font-family: "Lato";
}

.pricePlans__price {
  padding-top: 28px;
  position: relative;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 20px;
  font: lighter;
  color: #818b95;
}

.pricePlans__price span {
  color: #ffbb42;
  font: bold;
  font-family: "Lato";
  font-size: 60px;
  font-size: 60px;
}

.pricePlans__price span::before {
  content: "$";
  font: bolder;
  font-size: 38px;
  left: 140px;
  position: absolute;
}

.pricePlans__firstservices {
  border-bottom: 2px solid #e2e9f0;
  border-top: 2px solid #e2e9f0;
  color: #b5bbc1;
  font: lighter;
  font-family: "Lato";
  font-size: 13.5px;
  margin: 32px 30px 0 30px;
  padding-bottom: 14px;
  padding-top: 15px;
  text-transform: uppercase;
}

.pricePlans__secondservices {
  border-bottom: 2px solid #e2e9f0;
  color: #b5bbc1;
  font: lighter;
  font-family: "Lato";
  font-size: 13.5px;
  margin: 14px 30px 0 30px;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.pricePlans__thirdservices {
  color: #b5bbc1;
  font: lighter;
  font-family: "Lato";
  font-size: 13.5px;
  margin: 14px 30px 35px 30px;
  text-transform: uppercase;
}

.pricePlans__button {
  background: #ffbb42;
  color: #fff;
  margin: 0 130px 0 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.pricePlans:nth-child(3) {
  float: right;
}

.pricePlans:nth-child(2) {
  background-color: #709dca;
  min-height: 560px;
  float: left;
  position: relative;
  padding-top: 30px;
  top: -30px;
}

.pricePlans:nth-child(2) .pricePlans__price span {
  color: #fff;
}

.pricePlans:nth-child(2) .pricePlans__price {
  color: #fff;
}

.pricePlans:nth-child(2) span::before {
  color: #fff;
  font-family: "Lato Light";
  font-weight: 300;
}

.pricePlans:nth-child(2) .pricePlans__title {
  color: #fff;
}

.pricePlans:nth-child(2) .pricePlans__firstservices {
  color: #c2e1ff;
}

.pricePlans:nth-child(2) .pricePlans__secondservices {
  color: #c2e1ff;
}

.pricePlans:nth-child(2) .pricePlans__thirdservices {
  color: #c2e1ff;
}

/* Section 6. Working process*/

.work {
  position: relative;
}

.workprocess {
  margin-top: 154px;
  text-align: center;
}

.workprocess__header {
  color: #394b50;
  font-family: "Gotham Black";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.workprocess__text {
  color: #394b50;
  font-family: "Lato Light";
  font-size: 18px;
  font-weight: 300;
}

/* Steps */

.steps {
  margin-bottom: 92px;
  margin-top: 104px;
  position: relative;
}

.stepsItem {
  width: 292px;
  float: left;
  text-align: center;
}

.stepsItem__title {
  color: #394b50;
  font: bolder;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 32px;
  padding-top: 98px;
  text-transform: uppercase;
}

.stepsItem__subtitle {
  color: #7b7b7b;
  font-family: "Open Sance";
  font-size: 13px;
  font-weight: 400;
  color: #7b7b7b;
}

.stepsItem:last-child {
  position: absolute;
  top: -5px;
  left: 900px;
  float: right;
}

.stepsItem:nth-child(3) {
  position: absolute;
  top: -1px;
  left: 596px;
}

.stepsItem:nth-child(2) {
  position: absolute;
  top: -8px;
  left: 308px;
}
/* Button */

.stepsbutton {
  width: 190px;
  margin: 0 auto 150px;
  background: #ffbb42;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  font-family: "Lato";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* Arrow */

.stepsarrow_1 {
  position: absolute;
  top: -34px;
  left: 224px;
}

.stepsarrow_2 {
  position: absolute;
  top: 0px;
  left: 523px;
  top: 78px;
}

.stepsarrow_3 {
  position: absolute;
  top: -34px;
  right: 224px;
}

/* Section 7. Clients */

.happyclients {
  background: #ffc155;
  min-height: 908px;
}

.clients {
  color: #fff;
  padding-bottom: 54px;
  padding-top: 134px;
  text-align: center;
}

.clients__header {
  font-size: 30px;
  font-family: "Gotham Black";
  font-weight: 900;
  text-transform: uppercase;
}

.clients__text {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
}

/* Clininets recall */

.clientsItem {
  float: left;
}

.clientsItem:nth-child(even) {
  float: right;
}

.clientsItem {
  background: #fff;
  width: 567px;
  height: 241px;
  position: relative;
  margin-bottom: 20px;
}

.clientsItem__wrap {
  float: left;
}

.clientsItem__img {
  padding: 43px 0 0 30px;
}

.clientsItem__maintext {
  overflow: hidden;
  padding: 51px 0 0 31px;
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.clinetsItem__quoteleft {
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 164px;
}

.clientsItem__quoteright {
  overflow: hidden;
  position: absolute;
  left: 327px;
  top: 144px;
}

.clientsItem__profession {
  color: #99a9ae;
  margin-top: 25px;
  margin-left: 184px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.clientsItem__profession__name {
  color: #f6772c;
}

.clientsItem:nth-child(even) .clientsItem__quoteright {
  left: 386px;
}

/* Section 8. News */

.newsletterHeading {
  color: #394b50;
  margin-top: 154px;
  margin-bottom: 38px;
  text-align: center;
}

.newsletterHeading__title {
  font-family: "Gotham";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletterHeading__text {
  font-family: "Open Sans";
  font: lighter;
  font-size: 16px;
  font-weight: 300;
}
.newsletter__form {
  text-align: center;
  margin-bottom: 53px;
}

.newsletter__form input[type="text"] {
  width: 308px;
  height: 47px;
  border: 1px solid #cbcbcb;
  background-color: #fff;
}

.newsletter__form input[type="text"]::placeholder {
  color: #a9a9a9;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
}

.newsletter__form .input_icon:nth-of-type(2) input[type="text"] {
  width: 388px;
}

.newsletter__form input[type="button"] {
  width: 218px;
  height: 47px;
}

.map {
  position: relative;
}

.map__shape {
  position: absolute;
  top: 40px;
  left: 447px;
}

.map__logo {
  position: absolute;
  left: 565px;
  top: 338px;
}

.address {
  text-align: center;
  position: absolute;
  left: 510px;
  top: 112px;
}

.address__header {
  display: block;
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.address__text {
  display: block;
  color: #aeb7ba;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.address__contact {
  display: block;
  color: #ffbb42;
  font-family: "Open Sans";
  padding-top: 5px;
}

/* Footer*/

.footer {
  border-top: 1px solid #e3e7ec;
  margin-top: 59px;
}

.footermenu .menu li {
  padding-top: 67px;
  padding-left: 46px;
  display: inline-block;
  text-transform: uppercase;
}

.footermenu .menu a {
  color: #394b50;
  font-family: "Lato";
  font-size: 13px;
  font-weight: 400;
}

.footermenu .menu li:first-child {
  padding-left: 0px;
  padding-left: 188px;
}

.footermenu__tel {
  padding-top: 29px;
  color: #394b50;
  font-family: Lato;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.footermenu__tel::before {
  content: "\f095";
  width: 16px;
  height: 17px;
  color: #394b50;
  font-family: "FontAwesome";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.footermenuicon {
  margin: 23px auto 0 auto;
  width: 104px;
  height: 18px;
}

.footermenuicon i {
  float: left;
}

.footermenuicon i:first-child {
  width: 16px;
  height: 15px;
  color: #ffc155;
  font-size: 18px;
  font-weight: 400;
}

.footermenuicon i:nth-child(2) {
  width: 10px;
  height: 18px;
  color: #709dca;
  font-size: 18px;
  font-weight: 400;
  padding-left: 17px;
}

.footermenuicon i:nth-child(3) {
  width: 17px;
  height: 18px;
  color: #709dca;
  font-size: 18px;
  font-weight: 400;
  padding-left: 21px;
}

.footermenuicon i:nth-child(4) {
  width: 16px;
  height: 16px;
  color: #709dca;
  font-size: 18px;
  font-weight: 400;
  float: right;
}

/* Copyright */

.copyright {
  background-color: #709dca;
  min-height: 49px;
  margin-top: 52px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding-top: 17px;
}
